*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F0D5B8;
    position: relative;
    padding-bottom: 3em;
}
#tituloPagina{
    font-family: 'Milonga', cursive;
    font-size: 70px;
    text-align: center;
    color: #935A46;
    padding-top: 40px;
}
#subtituloChico{
    font-family: 'Courgette', cursive;
    font-size: 25px;
    text-align: center;
    color: #534540;
    margin: 10px
}
#subtituloGrande{
    font-family: 'Milonga', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #935A46;
}
#misionTitulo{
    font-family: 'Courgette', cursive;
    font-size: 30px;
    margin: auto;
    margin-top: 30px;
    text-align:center
}
nav{
    padding: 1em;
}
nav ul{
    display: flex;
    list-style: none;
    margin: auto;
}
ul li{
    font-family: 'Courgette', cursive;;
    font-size: 34px;
    display: flex;
    margin-top: 5px;
    margin: auto;
    padding: 1em;
}
.footer{
    background-color: #E0C8AE;
    font-family: 'Courgette', cursive;
    font-size:12px;
    width: 100%;
    height: 20px;
    bottom: 0;
    position: fixed;
    text-align: center;

}
a{
    color: #534540 !important;
    outline: none;
    text-decoration: none;
    background-image: linear-gradient(#E0C8AE, #935A46);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover, a:focus{
    background-size: 100% 4px;
}

.cafecito-animacion :hover{
    animation: 2.5s balanceo 1;
}

@keyframes balanceo {
    20%{
        transform: scale(0.9) rotate(-15deg);
    }
    30%, 50%, 70%, 90% {
        transform: scale(1.2) rotate(15deg);
    }

    40%, 60%, 70%{
        transform: scale(0.9) rotate(-15deg);
    }
}

.fotoCafe img{
    margin: auto;
    display: block;
    width: 400px;
    height: 500x;
}
.info{
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #534540;
    text-align: center;
    font-size: 20px;
}
.lista_receta ul li{
    margin-top: 20px;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    list-style-position: inside;
    list-style-type: disc;
    font-size: 20px;
    display: block;
    text-align: center;
}
.lista_pasos ul ol{
    margin-top: 20px;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: block;
    text-align: center;
}
.registroForm{
    width: 700px;
    background-color: #53454038;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(8, 8, 8)
}
.formulario-info{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
    background: #5345400a;
    border: 1px solid #53454056;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
}
.recetaTexto{
    font-family: 'Courgette', cursive;
    font-size: 1em;
}
.botonRegister{
    width: 100%;
    height: 40px;
    background-color: #F0D5B8; 
    border: none;
    margin-bottom: 10px;
    font-family: 'courgette', cursive;
    font-size: 30px;
    color: #935A46
}
.botonLimpiar{
    width: 100%;
    height: 25px;
    background-color: #F0D5B8; 
    border: none;
    font-family: 'courgette', cursive;
    font-size: 20px;
    color: #534540
}
.bodyOrdenado{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articulosTexto{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    padding-bottom: 10px
}
.fotoMision{
    padding-top: 1em;
    margin: auto;
    width: 50%;
    display: flex;
}
.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);

    grid-template-areas: "cuadro1  cuadro2"
                         "cuadro3  cuadro4";
    text-align: center;
}

.contenedor img{
    width: 500px;
    height: 350px;
}

.cuadro1{
    grid-area: cuadro1;
}
.cuadro2{
    grid-area: cuadro2;
}
.cuadro3{
    grid-area: cuadro3;
}
.cuadro4{
    grid-area: cuadro4;
}
@media screen and (max-width: 1024px) {
    nav ul{
        flex-direction: column;
        align-items:center;
    }
    ul li{
        margin: auto;
        margin-bottom: 1em;
    }
}
@media screen and (max-width: 800px){
    .contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor img{
        padding: 1em;
    }
    .cuadro1{
        display: inline-flex;
        flex-direction: column;
        align-items: center;

    }
    .cuadro2{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    .cuadro3{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    .cuadro4{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        }
    .recetaTexto{
        text-align: center;
        padding: 1em;
    }
}
.fotoReceta{
    background-image: url(../assets/clod-brew.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1em;
    grid-area: fotoReceta;
    
}
.contenedorReceta{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "fotoReceta  lista_receta"
                        " fotoReceta  lista_pasos";
}
.lista_pasos{
    grid-area: lista_pasos;
}
.lista_receta{
    grid-area: lista_receta;
}

    
@media screen and (max-width: 800px) {
    .contenedorReceta{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1 , 1fr);
    grid-template-areas: " fotoReceta"
                         "lista_receta"
                         "lista_pasos";
                         
    }
    .fotoReceta{
        grid-area: fotoReceta;
        margin: auto;
        width: 300px;
        height: 300px;
        background-image: url(../assets/clod-brew.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 800px) {
    .fotoMision{
        width: 80%;
    }
}
@media screen and (max-width: 800px) {
    .registroForm{
        width: 60%;
        margin: 0 auto;
    }
    
}
.carousel-inner{
    margin-top: 2em;
}
